.content {
	display: grid;
	grid-template-columns: repeat(4, 22.3vw);
	padding: 0 0px 0 0;
	justify-content: center;
	align-items: center;
}

.content_block {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 96%;
	height: 580px;
	padding: 0 40px 0 15px;
	gap: 20px;
	border: thin solid rgb(216, 212, 202);
	margin: 5px;
	margin-bottom: 12px;
	transition: 0.2s;
	cursor: pointer;
}

.content_block:hover {
	background-color: black;
	color: #f8f3eb;
}

.content_lastElem {
	display: flex;
	justify-content: center;
	width: 100%;
	grid-column-start: 2;
	grid-column-end: 4;
	padding: 10px 0 15px 0;
}

.content_lastElem span {
	font-size: 24px;
	text-decoration: underline;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

.content_block h2 {
	font-size: 32px;
}

.content_lastElem p {
	font-size: 24px;
}

@media screen and (max-width: 1820px) {
	.content {
		grid-template-columns: 45vw 45vw;
	}

	.content_block {
		height: 400px;
		padding: 20px 20px 10px;
		margin: 13px 13px 13px;
	}
}

@media screen and (max-width: 1440px) {
	.content_block {
		height: 470px;
	}
}

@media screen and (max-width: 1200px) {
	.content_block {
		height: 550px;
	}
}

@media screen and (max-width: 1010px) {
	.content {
		grid-template-columns: 100%;
	}

	.content_block {
		height: 400px;
	}
}

@media screen and (max-width: 725px) {
	.content_block {
		height: 450px;
	}
}

@media screen and (max-width: 650px) {
	.content_block {
		height: 520px;
	}
}

@media screen and (max-width: 510px) {
	.content_block {
		height: 700px;
	}
}
