.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 100px 0 100px;
}

.home h1 {
    font-size: 50px;
}

.home p {
    font-size: 30px;
}

.home_description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
}

.home_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.home_buttons button {
    width: 49.5%;
    height: 730px;
    cursor: pointer;
    font-size: 50px;
    background-color: #f8f3eb;
    border-radius: 20px;
    transition: 0.5s;
}

.home_buttons button:hover {
    background-color: black;
    color: #f8f3eb;
    font-size: 55px;
    border: none;
}