.nav {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 0;
    margin-bottom: 30px;
    background-color: rgb(0, 0, 0);
    color: rgb(253, 251, 246);
    box-shadow: 0px 1px 8px rgb(0, 0, 0, 50%);
    z-index: 10;
}

.nav_elem p {
    cursor: pointer;
    padding: 6px;
}

.nav_elem_topBorder {
    width: 0%;
    background-color: aliceblue;
    height: 2px;
    
}

.nav_elem_bottomBorder {
    width: 0%;
    background-color: aliceblue;
    height: 2px;
}

.nav_elem:hover .nav_elem_topBorder {
    animation: appearance 1s forwards;
}

.nav_elem:hover .nav_elem_bottomBorder {
    animation: appearance 1.2s forwards;
}

@keyframes appearance {
    0% {width: 0;}
    100% {width: 100%;}
}